In [3]:
# Conventional  if-else
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [5]:
# one line if-else program
print("even") if num %2 == 0 else print("odd")

even

In [7]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [9]:
age = 18
category = "Adult" if age >= 18 else "Minor"
print(category)

Adult

In [19]:
# nested if-else in one line
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  54

Positive

In [21]:
# nested if-else in one line
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  -65

Negative

In [23]:
# List Comprehension 
L = [1,9,2,10,56,89]
[2*x for x in L ]

[2, 18, 4, 20, 112, 178]

In [25]:
# printing even numbers in LC
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [40]:
# # printing odd numbers in LC
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [58]:
# Print updated salaries
# Condition is give 20% hike for
# salaries <= 50000
sal = [40000,60000,80000,45000]
[(x*1.2 if x <= 50000 else x) for x in sal]

[48000.0, 60000, 80000, 54000.0]

In [64]:
# Dictionary Comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
print(d1)

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [73]:
# average value for  marks
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [83]:
# User defined function to compute average
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [100]:
# user defined function
#Greet with "Good Morning" with your name
#calliing function our name

In [91]:
def greet(name):
    print(f"Good Morning {name}!")


greet("Padathaina Prasanna")

Good Morning Padathaina Prasanna!

In [96]:
def greet (name = "Ramesh"):
    print(f"Good Morning {name}!")
    greet("Ramesh")

In [110]:
# Function with variable number of arguments
def avg_value(*n):
    l = len(n)
    average = sum(n)/l
    return average
avg_value(10,20,30,40)

25.0